section {
  width: 100%;
  max-width: 420px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  background-color: rgba(0,0,0,0.4);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

h1{
  text-align: center;
  margin: 10px auto;
}

a, a:visited {
  color: #fff;
  text-decoration: none;
}

input[type="text"],
input[type="password"],
button {
  font-size: 18px;
  padding: 10px;
  border-radius: 10px;
}

label,
button {
  margin-top: 20px;
}

button {
  padding: 10px;
  width: 150px;
  margin: 20px auto;
}

.instructions {
  width: 230px;
  font-size: 13px;
  border-radius: 10px;
  background: #000;
  color: #fff;
  padding: 10px;
  position: absolute;
  left: -260px;
}
.instructionsName{
  top: 45px;
}
.instructionsEmail{
  top: 138px;
}
.instructionsPassword{
  top: 230px;
}
.instructionsConfirm{
  top: 322px;
}

.instructions > svg {
  margin-right: 10px;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 10px;
}

.invalid {
  color: red;
  margin-left: 10px;
}

.line {
  display: inline-block;
  margin-left: 10px;
}